.privacy-logo {
	display: block;
	max-width: 150px;
	width: 100%;
	margin: 50px auto;
	-webkit-filter: brightness(1000%);
	filter: brightness(1000%);
}

.privacy-text {
	padding: 20px;
	max-width: 900px;
	margin: auto;
	font-size: 1.4rem;
}
